<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-title">
        <h3> Categories </h3>
        <!--  <button class="btn btn-add" (click)="open()">
          AddNew
        </button> -->
      </div>
    </div>
    <div class="col-md-12">
      <div class="card-table">
        <table class="table table-bordered table-sm table-striped table-responsive-sm">
          <thead>
            <tr>
              <th>#</th>
              <th> Name </th>
              <th> Actions </th>
            </tr>
          </thead>
          <tbody>
            <!-- | async -->
            <tr *ngFor="let item of categories ; let i = index">
              <th>{{ i + 1 }}</th>
              <td>{{ item.name }}</td>
              <td>
                <!-- <button class="btn btn-action" (click)="openModalEdit(item)">
                  <i class="far fa-edit"></i>
                </button>
                <button class="btn btn-action" (click)="openModalDelete(item)">
                  <i class="far fa-trash-alt"></i>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
