/* You can add global styles to this file, and also import other style files */

.card-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin: 30px 0;
  .btn {
    background: #3f51b5;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
  }
}

.table>thead {
  vertical-align: bottom;
  background: #3f51b5;
  color: #fff;
  th{
    padding: 10px;

  }
}
